<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Site - Fragment</title>
    <link rel="stylesheet" href="fragment.css">
    <script src="fragment.js"></script>
</head>
<body>
    <div id="content">
        <header>
            <h1>Characters</h1>
            <nav>
                <div class="nav_links">
                    <a href="home-page.html">Home</a>
                    <a href="development_status.html">Development Status</a>
                    <a href="#">Support</a>
                </div>
            </nav>
        </header>

        <main>
            <div id="characters_content">
                <p>
                    One of the things we're most proud of when it comes to Fragment are the characters that we've created. Most have had their bios written, personalities chosen, and serve some importance to the story. 
                    While we have a lot of characters that we want to share with you, we've chosen a select few to show off. We've decided to reveal these characters by showing off the concept art that was made by artist Mary Francis. 
                    We do still plan to show off other character concept arts and even begin to show environmental drawings, but for now, we hope you enjoy the ones that we've chosen.
                </p>
                <br>

                <div class="card-wrapper">
                    
                    <div class="card-container">
                        <div class="card">
                            <div class="card-face card-front">
                                <img src="images/grace-concept.jpg" alt="Grace Summit">  
                            </div>
                            <div class="card-face card-back">
                                <h3>Grace Summit</h3>
                                <p>Grace is the main protagonist of the Fragment series. Enlisting at 16, Grace has demonstrated considerable skill in hand-to-hand combat and marksmanship. She has lost much to the enemies of humanity, but will not give up on her skills or her allies.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <div class="card-face card-front">
                                <img src="images/zeke-concept.jpg" alt="ZK-33">  
                            </div>
                            <div class="card-face card-back">
                                <h3>ZK-33 (Zeke)</h3>
                                <p>Zeke is an experimental robot designed to be a doctor. Programmed to protect the facility's personnel, Zeke enjoyed his job. Unfortunately, the planet that Zeke lived on has become an apocalyptic hellscape. With most of his coworkers dead, Zeke searches the planet for survivors, intending to care for them.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <div class="card-face card-front">
                                <img src="images/winter-concept.jpg" alt="Winter Ecken">  
                            </div>
                            <div class="card-face card-back">
                                <h3>Winter Ecken</h3>
                                <p>Winter is the pilot of the Forager, a decommissioned transport ship. While she’s more optimistic than most she encounters, Winter has had her share of hurt and pain. She lost her eyes when she was a child and requires cybernetic implants to allow her to see. Now she works to afford the chance to regain sight in her eyes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card">
                            <div class="card-face card-front">
                                <img src="images/reapmaster-concept.jpg" alt="Reapmaster Indra">  
                            </div>
                            <div class="card-face card-back">
                                <h3>Reapmaster Indra</h3>
                                <p>For every hero, there's a villain. Reapmaster Indra is that villain. A killer at heart, Reapmaster commands the Reap Cycle, a galaxy-wide space armada. She views humanity and the other alien races as potential candidates to join the Reap Cycle. With her army and weapons, she will stop at nothing before all who oppose her are nothing but dust.</p>
                            </div>
                        </div>
                    </div>

                </div> </div>
        </main>

        <footer>
            <p>Forage &copy; 2025 - Ben Webster</p>
            <div class="social">
                <a href="https://facebook.com"><img src="images/facebook.png" alt="fb icon"></a>
                <a href="https://twitter.com"><img src="images/twitter.png" alt="twitter icon"></a>
                <a href="https://instagram.com"><img src="images/instagram.png" alt="instagram icon"></a>
            </div>
        </footer>
        <div class="logo">
				<a href="https://www.youtube.com/@BeamedUpStudios" target="_blank">
				<img src="images/logo.png" alt="Logo" />
				</a>
			</div>
    </div>

</body>
</html>