<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>Fragment Development Page</title>
		<link type="text/css" rel="stylesheet" href="fragment.css" />
		<script src="fragment.js"></script>
	</head>

	<body>
		<header>
			<h1>Development</h1>
			<nav> 
				<div class="nav_links">
                    <a href="home-page.html">Home</a>
					<a href="characters.html">Characters</a>
					<a href="development.html">Development</a>
					<a href="support.html">How Can You Help?</a>
				</div>
			</nav>
		</header>
		<main>
			<hr />
			<h3>How Did Fragment Start?</h3>
			    <p>
                    Fragment began with an idea that writer Ben Webster had a few years back. He at first envisioned a game with intense action set pieces and character dynamics. He came up with a story of a hunter going on a journey to find someone important. Someone who knew how to create something that could destroy the galaxy. While the project changed into more of a book series, Webster found a lot of inspiration from sci-fi games and movies that inspired him to expand the Fragment universe and its characters. 
                </p>
            <h3>When Will Fragment Release?</h3>
                <p>
                    Our current goal is to release the first entry in the saga in early 2027. However, this isn’t definite, and while we are working hard on the series, we cannot confidently say there will not be delays. Nether do we want to say the exact date to when it will come out.
                </p>
            <h3>How Many Are Working On Fragment?</h3>
                <p>
                    Fragment is helmed solely by writer Ben Webster. However, Webster has collaborated with others in bringing Fragment to life. Artist Mary Francis has created the concept art for the characters page. Quentin Borden also sketeched several of the logos and armor choices. Webster has also pitched a lot of his ideas to fellow writer Elise Beyler. If you are interested in helping contribute to building the universe of Fragment, see our “How Can You Help?” page.
                </p>
            <h3>Do We Use AI In Fragment?</h3>
                <p>
                    All characters and storylines in Fragment are original and created by Ben Webster. While he submitted several completed pages to ChatGPT, that was used to get feedback as he was still an ametur writer. This isn’t needed anymore because we can receive feedback from real life people, and we encourage human interaction. We also don’t desire to use AI to create finalized pieces of art or official concepts. Needless to say, there is no AI used in the writing or art of Fragment. 
                </p>
			<h3>What are the photos below?</h3>
				<p>
					We wanted to show off the cover of the offical Fragment document. Which contains notes on characters, plot points, info on lore, and ideas for technology and spacecrafts. There's also an updated concept photo of Grace Summit, recently made by Mary Francis. We also would like to show an image of writer Ben Webster, who has been a huge fan of Sci-Fi since he was a kid.
				</p>
			<section id="develop_images">
				<img src="images/cover.png" alt="Cover Page"/>
				<img src="images/grace-update.JPG" alt="Main Character Update"/>
				<img src="images/author.png" alt="Author"/>
			</section>
		</main>
        <footer>
            <div class="logo">
				<a href="https://www.youtube.com/@BeamedUpStudios" target="_blank">
				<img src="images/logo.png" alt="Logo" />
				</a>
			</div>
            <p>Fragment &copy; 2025 - Ben Webster</p>
            <div class="social">
                <a href="https://facebook.com"><img src="images/facebook.png" alt="fb icon"></a>
                <a href="https://twitter.com"><img src="images/twitter.png" alt="twitter icon"></a>
                <a href="https://instagram.com"><img src="images/instagram.png" alt="instagram icon"></a>
            </div>
        </footer>
	</body>
</html>
