<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>Fragment Home Page</title>
		<link type="text/css" rel="stylesheet" href="fragment.css" />
		<script src="fragment.js"></script>
	</head>

	<body>
		<header>
			<h1>Fragment</h1>
			<nav> 
				<div class="nav_links">
					<a href="characters.html">Characters</a>
					<a href="development.html">Development</a>
					<a href="support.html">How Can You Help?</a>
				</div>
			</nav>
		</header>
		<main>
			<hr />
			<h2>"They will paint the stars with the blood of their enemies." - Grace Summit</h2>
            <p>
				Welcome to Fragment, a sci-fi story saga that is intended to be a book series. Created by Ben Webster, Fragment is an exhilarating showing of Sci-Fi space opera and futurtuic technology. While we are still a while away from a full release, we want to create something that can showcase what we’re excited about. On this site, you will discover the premise of Fragment, it’s characters, and what lead to it’s creation. As well as how you can help support the cause of Fragment and it’s eventual release into the public. This series is open to all who enjoy space opera action, diverse characters, and deeply written lore. However, we don’t want to give away everything, so most of Fragment will still be under wraps. Without further ado, enjoy spending your time familaizring with Fragment, and thank you for your support!
			</p>

			<h3>The Premise of Fragment</h3>
			<p>The galaxy is more broken than ever before. Despite the Neverending Conference’s best efforts, order and peace are nonexistent in most of the galaxy. Their alliances with other alien races are on glass bridges that are waiting to break. Humanity is stretched far too thin, and a lurking evil has noticed. 
			   
				With attacks from this unknown enemy, the Conference deploys its soldiers to protect and serve the planets they inhabit. But it’s becoming clear that this is no ordinary threat, but one that is hellbent on destroying humanity and the other alien races. Seemingly because they deem them unfit to inhabit such a glorious galaxy. 

				The Conference will not allow itself to be cast into darkness again. They have called upon all of their allies to fight against this enemy, putting together every possible piece to help save them. With these forces fighting against each other, a galaxy-wide war has erupted, and we shall see who shall win.
			</p>
		</main>
		<footer>
            <div class="logo">
				<a href="https://www.youtube.com/@BeamedUpStudios" target="_blank">
				<img src="images/logo.png" alt="Logo" />
				</a>
			</div>
            <p>Forage &copy; 2025 - Ben Webster</p>
            <div class="social">
                <a href="https://facebook.com"><img src="images/facebook.png" alt="fb icon"></a>
                <a href="https://twitter.com"><img src="images/twitter.png" alt="twitter icon"></a>
                <a href="https://instagram.com"><img src="images/instagram.png" alt="instagram icon"></a>
            </div>
        </footer>
	</body>
</html>
