

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>Site Plan</title>
		<link type="text/css" rel="stylesheet" href="site-plan.css" />
	</head>

	<body>
		<header>
			<h1>The Fragmented Records Overview Site Plan</h1>
			<h2>Ben Webster</h2>
			<h2>WDD 131.03</h2>
			<!-- In the header above, add the name or your site, your name and class number. For example if you are in section 3 you would put WDD 131.03 -->
		</header>
		<main>
			<!-- ------------------------Steps 2-3------------------------------ -->
			<hr />
			<h2>Overview</h2>
			<h3>Purpose</h3>
			<p>The Fragmented Records is a new and fresh story that features sci-fi action. While the project is still a long way from completion, we want to show you the world that's been built and the characters that have already been designed.</p>
			<!-- change this -->

			<h3>Audience</h3>
			<p>This site is for anyone who wants to help support the project, as it's still in active development. We're veering towards it being a book, so if anyone enjoys writing science fiction, we'd love to get your input. We're also looking for illustors for cover design and character concepts. Any support to the project is greatly appreciated!</p>
			<!-- change this -->

			<h3>Dynamic elements</h3>
			<p>For the Characters section, we will feature a design where instead of the summary being underneath the photos, if you click on the photo, you're given the summary. There will also be a section of the development page that will fetaure answers to questions, such as the release date. For that, we will feature something where when a person clicks on the question, an answer pops up.</p>
			<!-- change this -->

			<hr />
			<h2>Branding</h2>
			<h3>Website Logo</h3>
			<!-- Replace this with some sort of logo for your site.  A logo can be as simple as the name of your site in a nice font :) -->
			<img src="webster_alien_image.png" alt="Logo image" />
			<hr />
			<h2>Style Guide</h2>

			<!-- ------------------------Steps 4-8------------------------------ -->

			<h3>Color Palette</h3>
			<!--  The colors you choose for a website are one of the most important decisions you will make. Follow the instructions on the activity in iLearn then return and replace the color codes below with the hex color codes (the 6 digit numbers that show at the bottom of each color) for the colors you have chosen below.  You should have at least 2 colors but do not have to fill in all 4 if you do not need them.  -->

			<!-- Copy and paste the URL to your finished palette below Make sure to paste it into both spots -->
			Palette URL:
			<a
				href="https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c"
				target="_blank"
				>https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c</a
			>

			<table class="colors">
				<tbody>
					<tr>
						<th>Primary</th>
						<th>Secondary</th>
						<th>Accent 1</th>
						<th>Accent 2</th>
					</tr>
					<!-- Replace the numbers in the boxes below with your hex color codes. Then switch to the site-plan.css file and change your colors there as well. -->
					<tr>
						<td class="primary">#2E5876</td>
						<td class="secondary">#424342</td>
						<td class="accent1">#FFFFFF</td>
						<td class="accent2">#0D070A</td>
					</tr>
				</tbody>
			</table>

			<!-- ------------------------Step 9------------------------------ -->

			<h3>Typography</h3>
			<!-- Choose a font for your paragraphs (body copy) and headlines. What font(s) have you chosen? Why did you choose what you did?  Make sure to review the list of web safe fonts at W3Schools.org as a starting point.  Think also about which of your colors above you might use for background and font colors. -->

			<h4>
				Heading Font: Nevera
				<!-- change this -->
			</h4>
			<h4>
				Paragraph Font: Arial
				<!-- change this -->
			</h4>
			<h3>Normal paragraph example</h3>
			<p>
				While Forage is still taking its first steps, we are actively looking for passionate individuals to join our growing team. Crucially, as we are still working to get this project firmly off the ground, we are not asking for monetary donations of any kind currently. Instead, our greatest need is for creative talent to help shape the project's visual and narrative future. We are currently seeking dedicated visual artists, meticulous storyboard designers, talented script writers, and anyone else familiar with the unique style and direction required for high-quality graphic novel creation. If you possess skills in graphic arts, sequential storytelling, or visual direction, and are excited by the prospect of contributing to a brand-new universe, we encourage you to reach out and help us build this world!
			</p>
			<h3>Colored paragraph example</h3>
			<p class="colored">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat.
			</p>

			<!-- ------------------------Step 10------------------------------ -->

			<h3>Navigation</h3>
			<!-- Think about how you want your navigation bar to look. In the site-plan.css file change the colors to your colors to get the look you desire. -->
			<nav>
				<a href="#">Home</a>
				<a href="#">Characters</a>
				<a href="#">Development</a>
			</nav>
			<hr />

			<h2>Content</h2>
			<h3>Home page</h3>
			<p>Welcome to the official homepage for Forage, an exciting new story project currently in active development! This world is being crafted piece by piece, and we invite you to join us on the journey from its earliest stages. As you explore the site, you can dive straight into the growing lore by viewing the detailed biographies of some of the central characters, complete with exclusive concept art that brings their designs to life. Beyond the characters, this site serves as your central hub to track our progress, offering regular updates on the creative process, world-building, and milestones we hit along the way.

Your support is incredibly important in helping us bring the full vision of Forage to reality. We are actively seeking community involvement to ensure this project can grow and flourish. If you are passionate about new narratives and want to learn more about how you can contribute, whether through feedback or direct support, please learn more from the “How can you help?” page. We are thrilled to share this world with you and hope you’ll join our community!

Now come along, and join the world of

Premise of Forage
Ex-military Grace Sharpe has been working as security captain for the Marizal corporations space station for the past month. The job is boring, difficult, and thankless, but she doesn’t have any other options to turn to. Things take a turn for the worse though, when the station is attacked by an enemy who seeks information, and Grace is caught in the crossfire. Using her old training and her instincts, she defends herself and the workers, but the enemy gets away with what they sought after.

After the attack, Grace proves herself to still be capable and is hired to go along with some of the most dangerous Shadow Hunters in the universe. They’re tasked with finding the enemy and stopping whatever it is they are planning to accomplish.

Now with Grace's weapons, such as her Fragment point, and her newly found allies, pilot Winny Ecken and robot ZK-33, she will have to fight through the dangers that the Universe throws at her. Including the Meteorite army, the terrifying creature of the Pativ asteroids, and a planet with a storm strong enough to rip a ship in half. All to discover what their enemy’s plan means for the fate of the entire Universe, and whether they can be stopped.

Want to learn more about Grace, Winter, and Zeke? Go ahead and click on the “Characters” page where we have concept art and bios that explain who they are. If you’d like to check out the other productions that we’ve created, click on the icon below.</p>
			<h3>[Page 2]</h3>
			<p></p>
			<img src="Winter concept.jpg" alt="winter concept art" />
			<img src="Reapmaster concept.jpg" alt="reapmaster concept art" />
			<img src="Grace concept.jpg" alt="grace concept art" />
			<img src="Zeke concept.jpg" alt="zeke concept art" />
			There's a lot of data for each character sheet, but it's all been written out already.
			<h2>Wireframes</h2>
			<p>
				Create two wireframes for your site. One for each page and list them
				here
			</p>

			<h3>Home</h3>
			<p>
				Clicking on the logo taking the user to the YouTube home page.
			</p>
			<img src="Homepage wireframe.png" alt="home page wireframe" />

			<h3>Characters</h3>
			<p>
				[Any additional details about page 2 that the wireframe does not make
				clear]
			</p>
			<img src="Characters wireframe.png" alt="page 2 wireframe" />

			<h3>Development</h3>
			<p>
				Even though The Fragment Records is still in the earlier stages of development, it was concieved by lead writer, Ben Webster, almost 3 years ago. He envisoned a galaxy full of unique characters, technology, and planets. He's been able to help others be apart of this project as well, such as Mary Francis, who illuistrated the character concepts.

			</p>
			<img src="Development wireframe.png" alt="page 3 wireframe"
		</main>
	</body>
</html>
