<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>Fragment Support Page</title>
		<link type="text/css" rel="stylesheet" href="fragment.css" />
		<script src="fragment.js"></script>
	</head>

	<body>
		<header>
			<h1>How Can You Help?</h1>
			<nav> 
				<div class="nav_links">
                    <a href="home-page.html">Home</a>
					<a href="characters.html">Characters</a>
					<a href="development.html">Development</a>
					<a href="support.html">How Can You Help?</a>
				</div>
			</nav>
		</header>
		<main>
			<hr />
			<h3>We Need Your Help</h2>
            <p>Now while we are excited to continue developing Fragment, we are still a while away from releasing a first entry into the series. That's where you can come in. While we continue to develop Fragment, we want to release more concept photos and show off more promotions of how development is going. If you think your skills can help, then send us an email at the account fragment@gamil.com. Thanks!</p>

			<h3>What About Donations?</h3>
			<p>Since we are still finding our footing, we will not be accepting donations of monetary value. We hope you understand and while we appreciate your help, we don't want to accept donations for the development of this series. At least, not at the moment.</p>
		</main>
        <footer>
            <div class="logo">
				<a href="https://www.youtube.com/@BeamedUpStudios" target="_blank">
				<img src="images/logo.png" alt="Logo" />
				</a>
			</div>
            <p>Fragment &copy; 2025 - Ben Webster</p>
            <div class="social">
                <a href="https://facebook.com"><img src="images/facebook.png" alt="fb icon"></a>
                <a href="https://twitter.com"><img src="images/twitter.png" alt="twitter icon"></a>
                <a href="https://instagram.com"><img src="images/instagram.png" alt="instagram icon"></a>
            </div>
        </footer>
	</body>
</html>
